{{ header }}
<script>


window.onscroll = function() {myFunction()};
var container_menu = document.getElementById("container_menu");
var navbar = document.getElementById("menu");
var cart = document.getElementById("cart");
//alert(navbar);
//var sticky = navbar.offsetTop;
//console.log(cart);

  sticky = navbar.offsetTop;
  stickyCart = cart.offsetTop;
  //console.log(sticky + 'px sticky');
  

window.addEventListener('scroll', function() {
  //console.log(window.pageYOffset);
  //console.log(pageYOffset + 'px pageYOffset');
  $('.navbar-collapse.navbar-ex1-collapse.collapse.in').collapse('hide');
});
var countfixed = 0;
var navbarfixed = 0;
function myFunction() {  //alert(navbar);

  if (window.pageYOffset >= sticky) { 
    if( countfixed==0 ){
      navbarfixed = sticky;
      container_menu.classList.add("navbar-fixed-top");
      //navbar.classList.add("navbar-fixed-top");
      cart.classList.add("navbar-fixed-bottom");      
      countfixed++;
      // console.log('1countfixed + ' + countfixed);
      // console.log('1sticky ' + sticky);
      // console.log('1pageYOffset ' + pageYOffset);
    }
    
  } 
  // console.log('navbarfixed ' + navbarfixed);
  //  console.log('pageYOffset ' + pageYOffset);
  //  console.log('sticky ' + sticky);
  //  console.log('px stickyCart ' + stickyCart);
   

  if (window.pageYOffset <= navbarfixed) { 
    if(countfixed==1){
      navbarnonfixed = pageYOffset;
      //navbar.classList.remove("navbar-fixed-top");
      container_menu.classList.remove("navbar-fixed-top");
      cart.classList.remove("navbar-fixed-bottom");
      countfixed = countfixed - 1;
      // console.log('3countfixed = ' + countfixed);
      // console.log('3sticky ' + sticky);
      // console.log('3pageYOffset ' + pageYOffset);
    }    
  }
};
</script>
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}

    	<!-- Modal -->
    	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><span style=color:red>Внимание:</span></h4>
            </div>
            <div class="modal-body" id="myModalBody">
            	<span style=color:black;font-weight:400>Здравствуйте, в это время наше заведения не работает и поэтому ваш заказ мы не сможем обработать. <br><br> Ждём Вас с ПН-ВС с 10:30 - 20:00</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Хорошо</button>
            </div>
          </div>
        </div>
     	</div>
     	<!-- Modal -->


    </div>
    {{ column_right }}</div>
</div>
{{ footer }}

<script>
var dateObj = new Date();
var hour = dateObj.getHours();
var minute = dateObj.getMinutes();
alert([hour,minute]);
// if(hour >= 11 ){
// 	alert("условия верны");
// }
if(hour < 10 || hour > 19){
	//alert("условия верны");	
	// document.getElementById('myModalLabel').innerHTML = "<span style=color:red>Внимание:</span>";
    //document.getElementById('myModalBody').innerHTML = "<span style=color:black;font-weight:100>Повторное нажатие на кнопку Закрыть, закроет страницу со статусом заказа и мы не сможем сообщить Вам, когда он будет готов.</span>";
        //console.log(response['status']);
    $('#myModal').modal('show')
}
// console.log("test");
// console.log(hour);
</script>