{{ header }}
<script>

window.onscroll = function() {myFunction()};

var navbar = document.getElementById("menu");
var cart = document.getElementById("cart");
//alert(navbar);
//var sticky = navbar.offsetTop;
console.log(cart);

  sticky = navbar.offsetTop;
  stickyCart = cart.offsetTop;
  console.log(sticky + 'px sticky');
  

window.addEventListener('scroll', function() {
  //console.log(window.pageYOffset);
  //console.log(pageYOffset + 'px pageYOffset');

});
var countfixed = 0;
var navbarfixed = 0;
function myFunction() {  //alert(navbar);

  if (window.pageYOffset >= sticky) { 
    if( countfixed==0 ){
      navbarfixed = sticky;
      navbar.classList.add("navbar-fixed-top");
      cart.classList.add("navbar-fixed-bottom");      
      countfixed++;
      console.log('1countfixed + ' + countfixed);
      console.log('1sticky ' + sticky);
      console.log('1pageYOffset ' + pageYOffset);
    }
    
  } 
  console.log('navbarfixed ' + navbarfixed);
   console.log('pageYOffset ' + pageYOffset);
   console.log('sticky ' + sticky);
   console.log('px stickyCart ' + stickyCart);
   

  if (window.pageYOffset <= navbarfixed) { 
    if(countfixed==1){
      navbarnonfixed = pageYOffset;
      navbar.classList.remove("navbar-fixed-top");
      cart.classList.remove("navbar-fixed-bottom");
      countfixed = countfixed - 1;
      console.log('3countfixed = ' + countfixed);
      console.log('3sticky ' + sticky);
      console.log('3pageYOffset ' + pageYOffset);
    }    
  }
};
</script>
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}