{{ header }}
<div id="common-success" class="container">
  {# <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %} #}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>Заказ №<span id="order_id">{{order_id}}</span> {# {{ heading_title }} #} успешно оформлен</h2>
      <h3>Здесь отображается и обновляется актуальный статус вашего заказа в реальном времени.</h3>


      
      <h3>Статус вашего заказа:</h3>

      


      <h2><span id="PosterStatusOrderText">{{PosterStatusOrderText}}</span></h2>
      {# <h3><span id="WarningText">ВНИМАНИЕ: не закрывайте эту страницу, мы здесь уведомим Вас о статусе заказа:</span></h3> #}

      {# <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Нажми! 
      </button> #}

      
      {% if debug_mode %}
      Данные вашего заказа
      {% for kOrder,vOrder in getOrder %}
        <li>{{kOrder}} {{vOrder}}</li>
      {% endfor %}

      статус заказа
      {% for kStatusOrders,vStatusOrders in getPosterStatusOrder %}
        <li>{{kStatusOrders}} {{vStatusOrders}}</li>
      {% endfor %}
      

      {% endif%}
      <br>


      
      {# <div class="buttons"> 
        <div class="pull-right"><a href="{{ update_link }}" class="btn btn-primary">Обновить статус</a></div>
      </div> #}
       <div class="buttons">
      <div class="pull-right"><a id="button_continue" rel="nofollow" href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div> 

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Изменился статус заказа</h4>
            </div>
            <div class="modal-body" id="myModalBody">
             Вот оно!! оооооо
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Хорошо</button>
            </div>
          </div>
        </div>



      {{ content_bottom }}</div>
      {{ column_right }}</div>
      </div>

<script type="text/javascript"><!--
navbar = document.getElementById("menu");
navbar.style.display = "none";
document.getElementById("search").style.display = "none";
//document.getElementById("logo").style.display = "none";
document.getElementById("top-links").style.display = "none";
document.getElementById("top").style.display = "none";

var cart = document.getElementById("cart");
document.getElementById("cart").style.display = "none";
//cart.classList.add("navbar-fixed-bottom");
//--></script>


<script type="text/javascript">
  $(document).ready(function() {
  });  

  // getElementById("logo").onclick = function(e) {
  //   alert(ura):
  // };

  i=1;
  button_continue.onclick = function(e) {
      if (i==2) {
        // alert(i);
        return;
      } 
      else {        
        document.getElementById('myModalLabel').innerHTML = "<span style=color:red>Внимание:</span>";
        document.getElementById('myModalBody').innerHTML = "<span style=color:black>Повторное нажатие на кнопку Продолжить, закроет страницу со статусом заказа и мы не сможем сообщить Вам, когда он будет готов.</span>";
        //console.log(response['status']);
        $('#myModal').modal('show')
        i++;
        return false;
      }
  };



  // $(document).on("click", "a.button_continue", function () {
  //      $.ajax ({
  //          // your code
  //          alert('Спасибо');
  //      });
  //       e.preventDefault();
  // });

  // button_continue.onclick = function() {
  //   // for(let i=1; i<=2; i++) {
  //     i = 1;
  //     alert("Кролик номер " + i);
  //     i++;
  //   //}    
  // };

  let order_id = document.getElementById('order_id').innerHTML;
  console.log(order_id); 
  console.log('ура'); // Возвращаемые данные выводим в консоль

  setInterval(function() {
    //console.log(new Date().toLocaleTimeString());  
  }, 1000)

  setInterval(function() {
    $.ajax({
      url: 'index.php?route=checkout/order',
      type: "post",
      dataType: 'json',
      async: true,
      data: {
        'order_id': order_id,          
      },
      complete: function(data) {
        //console.log("complete " + new Date().toLocaleTimeString()+'-'+performance.now());          
      },
      beforeSend: function() {
        //console.log('beforeSend ' + new Date().toLocaleTimeString()+'-'+performance.now());
      },
      success: function(response) { 
        //console.log("success " + new Date().toLocaleTimeString()+'-'+performance.now());
        //console.log(performance.now());
        if (document.getElementById('PosterStatusOrderText').innerHTML != response['status']) {
          document.getElementById('PosterStatusOrderText').innerHTML = response['status'];
          document.getElementById('myModalBody').innerHTML = response['status'];
          //console.log(response['status']);
          $('#myModal').modal('show')
        }         
        //цикл
        //document.body.className = 'modal-open';
        //document.getElementById('myModal').className = 'modal fade in';        
        //console.log(document.getElementById('myModal').style = `display: block; padding-right: 17px;`);                  
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);     
      }
      });//ajax
  }, 5000)
  //console.log('появилось окно' + new Date().toLocaleTimeString());
  //console.log("конец скрипта " + new Date().toLocaleTimeString()+'-'+performance.now());

</script>

{{ footer }}